# **Práctica 2: Descriptive Statics**

Cargamos el dataset limpio

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("Video_Games_Sales_Cleaned.csv")

Mostramos la información general

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16291 entries, 0 to 16290
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16291 non-null  int64
 1   Name          16291 non-null  object
 2   Platform      16291 non-null  object
 3   Year          16291 non-null  int64
 4   Genre         16291 non-null  object
 5   Publisher     16291 non-null  object
 6   NA_Sales      16291 non-null  float64
 7   EU_Sales      16291 non-null  float64
 8   JP_Sales      16291 non-null  float64
 9   Other_Sales   16291 non-null  float64
 10  Global_Sales  16291 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.4+ MB
None

Aseguramos que el dataset cargado es el limpio

In [4]:
print('filas duplicadas',df.duplicated().sum())
print(df.isnull().sum())

filas duplicadas 0
Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

# Estadísticas descriptivas

Estadísticas de valores numéricos

In [5]:
print(df.describe())

               Rank          Year      NA_Sales      EU_Sales      JP_Sales  \
count  16291.000000  16291.000000  16291.000000  16291.000000  16291.000000
mean    8290.190228   2006.405561      0.265647      0.147731      0.078833
std     4792.654450      5.832412      0.822432      0.509303      0.311879
min        1.000000   1980.000000      0.000000      0.000000      0.000000
25%     4132.500000   2003.000000      0.000000      0.000000      0.000000
50%     8292.000000   2007.000000      0.080000      0.020000      0.000000
75%    12439.500000   2010.000000      0.240000      0.110000      0.040000
max    16600.000000   2020.000000     41.490000     29.020000     10.220000

        Other_Sales  Global_Sales
count  16291.000000  16291.000000
mean       0.048426      0.540910
std        0.190083      1.567345
min        0.000000      0.010000
25%        0.000000      0.060000
50%        0.010000      0.170000
75%        0.040000      0.480000
max       10.570000     82.740000

Estadísticas de valores categóricos

In [6]:
print(df.describe(include=['object', 'category']))

                               Name Platform   Genre        Publisher
count                         16291    16291   16291            16291
unique                        11325       31      12              576
top     Need for Speed: Most Wanted       DS  Action  Electronic Arts
freq                             12     2131    3251             1339

# Agrupamos los datos por entidades y obtener estadísticas

Ventas por género:

In [7]:
genre_stats = df.groupby("Genre")["Global_Sales"].agg(["count", "sum", "mean", "max"]).sort_values("sum", ascending=False)
print(genre_stats)

              count      sum      mean    max
Genre
Action         3251  1722.84  0.529942  21.40
Sports         2304  1309.24  0.568247  82.74
Shooter        1282  1026.20  0.800468  28.31
Role-Playing   1470   923.83  0.628456  31.37
Platform        875   829.13  0.947577  40.24
Misc           1686   789.87  0.468488  29.02
Racing         1225   726.76  0.593273  35.82
Fighting        836   444.05  0.531160  13.04
Simulation      848   389.98  0.459882  24.76
Puzzle          570   242.21  0.424930  30.26
Adventure      1274   234.59  0.184137  11.18
Strategy        670   173.27  0.258612   5.45

Ventas por plataforma:

In [8]:
platform_stats = df.groupby("Platform")["Global_Sales"].agg(["count", "sum", "mean", "max"]).sort_values("sum", ascending=False)
print(platform_stats)

          count      sum      mean    max
Platform
PS2        2127  1233.46  0.579906  20.81
X360       1234   969.60  0.785737  21.82
PS3        1304   949.35  0.728029  21.40
Wii        1290   909.81  0.705279  82.74
DS         2131   818.91  0.384284  30.01
PS         1189   727.39  0.611766  10.95
GBA         786   305.62  0.388830  15.85
PSP        1197   291.71  0.243701   7.72
PS4         336   278.10  0.827679  14.24
PC          938   254.70  0.271535   8.11
GB           97   254.42  2.622887  31.37
XB          803   252.09  0.313935   8.49
NES          98   251.07  2.561939  40.24
3DS         499   246.27  0.493527  14.35
N64         316   218.21  0.690538  11.89
SNES        239   200.05  0.837029  20.61
GC          542   197.14  0.363727   7.07
XOne        213   141.06  0.662254   7.30
2600        116    86.57  0.746293   7.81
WiiU        143    81.86  0.572448   6.96
PSV         410    61.60  0.150244   2.25
SAT         173    33.59  0.194162   1.93
GEN          27    28.36  1.050370   6.03
DC           52    15.97  0.307115   2.42
SCD           6     1.87  0.311667   1.50
NG           12     1.44  0.120000   0.25
WS            6     1.42  0.236667   0.51
TG16          2     0.16  0.080000   0.14
3DO           3     0.10  0.033333   0.06
GG            1     0.04  0.040000   0.04
PCFX          1     0.03  0.030000   0.03

Ventas por publicador

In [9]:
publisher_stats = df.groupby("Publisher")["Global_Sales"].agg(["count", "sum", "mean", "max"]).sort_values("sum", ascending=False).head(20)
print(publisher_stats)

                                        count      sum      mean    max
Publisher
Nintendo                                  696  1784.43  2.563836  82.74
Electronic Arts                          1339  1093.39  0.816572   8.49
Activision                                966   721.41  0.746801  14.76
Sony Computer Entertainment               682   607.28  0.890440  14.98
Ubisoft                                   918   473.54  0.515839  10.26
Take-Two Interactive                      412   399.30  0.969175  21.40
THQ                                       712   340.44  0.478146   3.58
Konami Digital Entertainment              823   278.56  0.338469   6.05
Sega                                      632   270.70  0.428323   8.06
Namco Bandai Games                        928   253.65  0.273330   4.24
Microsoft Game Studios                    189   245.79  1.300476  21.82
Capcom                                    376   199.95  0.531782   6.30
Atari                                     347   146.77  0.422968   7.81
Square Enix                               231   144.73  0.626537   5.95
Warner Bros. Interactive Entertainment    217   142.34  0.655945   5.53
Disney Interactive Studios                214   118.76  0.554953   3.16
Eidos Interactive                         196    96.75  0.493622   5.24
LucasArts                                  89    84.95  0.954494   5.83
Bethesda Softworks                         69    81.53  1.181594   8.84
Midway Games                              196    69.29  0.353520   2.52

Ventas por año de lanzamiento

In [11]:
yearly_stats = df.groupby("Year")["Global_Sales"].agg(["count", "sum", "mean", "max"]).sort_index()
print(yearly_stats)

      count     sum      mean    max
Year
1980      9   11.38  1.264444   4.31
1981     46   35.77  0.777609   4.50
1982     36   28.86  0.801667   7.81
1983     17   16.79  0.987647   3.20
1984     14   50.36  3.597143  28.31
1985     14   53.94  3.852857  40.24
1986     21   37.07  1.765238   6.51
1987     16   21.74  1.358750   4.38
1988     15   47.22  3.148000  17.28
1989     17   73.45  4.320588  30.26
1990     16   49.39  3.086875  20.61
1991     41   32.23  0.786098   4.61
1992     43   76.16  1.771163  11.18
1993     60   45.98  0.766333  10.55
1994    121   79.17  0.654298   9.30
1995    219   88.11  0.402329   5.15
1996    263  199.15  0.757224  31.37
1997    289  200.98  0.695433  10.95
1998    379  256.47  0.676702  14.64
1999    338  251.27  0.743402  23.10
2000    349  201.56  0.577536   6.39
2001    482  331.47  0.687697  14.98
2002    829  395.52  0.477105  16.15
2003    775  357.85  0.461742   7.20
2004    744  414.01  0.556465  20.81
2005    936  458.51  0.489861  24.76
2006   1008  521.04  0.516905  82.74
2007   1201  609.92  0.507843  22.72
2008   1428  678.90  0.475420  35.82
2009   1431  667.30  0.466317  33.00
2010   1257  600.29  0.477558  21.82
2011   1136  515.80  0.454049  14.76
2012    655  363.49  0.554947  14.03
2013    546  368.11  0.674194  21.40
2014    580  337.03  0.581086  11.98
2015    614  264.44  0.430684  14.24
2016    342   70.90  0.207310   4.77
2017      3    0.05  0.016667   0.03
2020      1    0.29  0.290000   0.29